/* CSS TABLE OF CONTENTS 
  # GLOBALS
    # RESET
    # COLORS
    # TYPOGRAPHY
      # HEADINGS
      # PARAGRAPHS
      # LINKS
      # TYPE SPECIMEN
  # MEDIA
    # IMAGES
  # COMPONENTS
    # BUTTONS
  # LAYOUT
    # CONTAINER
    # BESPOKE LAYOUT HELPERS
  # STRUCTURE
    # HEADER
    # FOOTER
    # NAV
    # MAIN
    # SECTIONS
  # ANIMATIONS
    # @KEYFRAME
    # SCROLL-TRIGGERED
*/

/* GLOBAL RESETS */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* GLOBAL COLORS */
body {
  background:#ddd;
  /* background: rgba(221, 221, 221, 1); */
  color: #333;
}
a {color: #ccc;}
a:hover { color: rgba(0, 0, 0, 1); }

/* GLOBAL TYPOGRAPHY */
body {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 87.5%; /* 14px */
  line-height: 1.4;
}

h1,h2,h3 { font-weight: normal; }
p { max-width: 35em; }

@media (min-width: 768px) {
p.two-col {
  column-count: 2;
  column-gap: 4em;
  max-width: 50em;
}
}

a {text-decoration: none;}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 .4em 0;
}

.subheadline {
  font-size: 2em;
  font-weight: 300;
  color: #777;
  line-height: 1;
  margin: 0 0 .6em 0;
}

/* MEDIA */
img {
  max-width: 100%;
  height: auto;
}
img.circular {
  display: block;
  border-radius: 100%;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTONS */
.button {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3em;
  padding: 1em 2em;
  margin: .5em;
}
.button:hover {
  background: rgba(0, 0, 0, 1);
  color: #fff;
  border-color: rgba(0, 0, 0, 1);
}
/* LAYOUT */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
/* STRUCTURE */

.site-header,
.site-footer {
  text-align: center;
  margin: 1em 0;
  padding-bottom: 1em;
}

.site-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.site-header h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

.site-header h1 a {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1em;
  display: inline-block;
  transition: .2s ease-out all;
}

.site-header h1 a:hover {
  color: rgba(0, 0, 0, 1);
}

/* SITE NAV */
.site-navigation ul {
  padding: 0;
  margin: 1em 1.5em 0 0;
}

.site-navigation ul li {
  display: inline-block;
}

.site-navigation ul li a {
  display: block;
  padding: 1em 0.5em;
  margin: 0 .2em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: .2s ease-out all;
}

.site-navigation ul li a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 1);
}

.site-navigation ul li a.selected {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

/* MAIN CONTENT */
main { padding: 5em 0; }
section {
  padding: 2em;
  min-height: 90vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* FEATURED PROJECTS ON HOME PAGE */
@media (min-width: 768px) {

  .featuredproject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .featuredproject.swapped {
    flex-direction: row-reverse;
  }
  .featuredproject .image-wrapper {
    width: 49%;
  }
  .featuredproject .text-wrapper {
    width: 49%;
    padding: 3em;
  }

}
/* ABOUT PAGE */
 body.about {
   background: #ccc;
 }

 @keyframes slide-in {
   from {transform: translate(0,-20px); opacity: 0;}
   to {transform: translate(0,0); opacity: 1;}
 }

 .slide-in-parent > * {
   opacity: 0;
   animation: slide-in ease-in-out;
   animation-fill-mode: forwards;
   animation-duration: .4s;
   animation-delay: 0;
 }

 .slide-in-parent > *:nth-child(2) {animation-duration: .15s;}
 .slide-in-parent > *:nth-child(3) {animation-duration: .25s;}
 .slide-in-parent > *:nth-child(4) {animation-duration: .35s;}
 
/* BESPOKE LAYOUT STRUCTURE */

/* FLEX-BOX MAIN LAYOUT 
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  flex-grow: 1;
}
*/

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.site-header {
  display: flex;
  justify-content: space-between;
}
/* .site-header {
  display: grid;
  grid-template-columns: auto 1fr;
} */
/* main {
  display: grid;
  align-items: center;
  place-items: center;
} */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-nav ul {
  display: flex;
  list-style: none;
}
/* 
.site-nav ul a{
    padding
} */
/* 
.site-id {
  background-color: rgba(255, 0, 0, 0.2) !important;
}

.site-nav {
  background-color: rgba(0, 255, 0, 0.2) !important;
}

.site-main {
  background-color: rgba(0, 151, 255, 0.2) !important;
}

.site-footer {
  background-color: rgba(0, 0, 255, 0.2) !important;
} */
/* ------------------------------------------------ */
/* ----------- FOR VISUAL TESTING ONLY  ----------- */
/* ------------------------------------------------ */

/* * {
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1) !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.4) !important;
  background-image: none !important;
  border-color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(255, 255, 0, 0.2) !important;
  
} */


